.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Add padding to ensure space below the navbar */
}

.booking-content {
    width: 100%;
    max-width: 600px; /* Limit the width of the booking form */
    margin: 0 auto; /* Center the form */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
} 